<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/styles.css"/>
    <title>Allergy-Free Foods</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">Allergy-Free Foods</a>
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href="/products">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="hamburger-menu">&#9776;</div>
      <div class="search-bar">
        <input type="text" placeholder="Search products..." />
        <button>Search</button>
      </div>
      <div class="cart">
        <a href="/products/cart">Cart ({{number_items_in_cart}})</a>
      </div>
    </header>

    <main>
      <section class="featured-products">
        <h2>Featured Products</h2>
        <a class="add-product" href="/products/new">Add Product</a>
        <div class="product-grid">
          {% for product in products %}
          {% if allergen_to_filter not in product.allergens %}
          <div class="product-card">
            <!-- <img src="product2-image-url" alt="Product" /> -->
            <!-- <h3 class="product-name">product.name</h3> -->
            <a class="product-name" href="/products/{{product.id}}">{{product.name}}</a>
            <p class="product-price">${{product.price}}</p>
            <!-- <p class="delivery-time" href="../templates/product.html">Estimated delivery: 4-6 days</p> -->
              <a class="add-prod" href="/cart/add/{{product.id}}">Add to Cart</a>
              <!-- <a class="delete-prod" href="/products/edit/{{product.id}}">Edit</a> -->
              <button class="add-to-cart">Add to Cart</button>
              <div>
                <a class="delete-prod" href="/products/delete/{{product.id}}">Delete</a>
                <a class="edit-prod" href="/products/edit/{{product.id}}">Edit</a>
              </div>
          </div>
          {% endif %}
          
          {% endfor %}
        </div>
      </section>
      <h2>Filter by Allergen</h2>
      <section class="allergen-filters">
        {% for allergen in allergens %}
        <div class="allergen-container">
              <input type="checkbox" id="allergen-name" name="allergen-name"/>
              <a label href="/products/filter/{{allergen.id}}" for="gluten-free" id="allergen-name">{{allergen.name}}</label>
        </div>
        {% endfor %}
      </section>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <script>
      // Hamburger menu functionality
      const hamburgerMenu = document.querySelector(".hamburger-menu");
      const mainNav = document.querySelector(".main-nav");

      hamburgerMenu.addEventListener("click", () => {
        mainNav.classList.toggle("active");
      });
    </script>
  </body>
</html>
