<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css"/>
    <title>{{product.name}} | Allergy-Free Foods</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">Allergy-Free Foods</a>
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href="/products">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="hamburger-menu">&#9776;</div>
      <div class="search-bar">
        <input type="text" placeholder="Search products..." />
        <button>Search</button>
      </div>
      <div class="cart">
        <a href="/products/cart">Cart ({{ items_in_cart }})</a>
      </div>
    </header>

    <main>
      <section class="product-details">
        <div class="in-product-image">
          <img
            class="image-in-prods"
            src="{{product.image_url}}"
            alt="Vegan Chocolate Chip Cookies"
          />
        </div>
        <div class="product-info">
          <h1>Product Name: {{product.name}}</h1>
          <div class="rating">
            <p class="rating-value">Rating: {{product.rating}}</p>
            <!-- <span>★★★★★</span> -->
          </div>
          <p class="product-price">${{product.price}}</p>
          <p class="product-description">
            Product Description: {{product.description}}
          </p>
          <p class="stock-description">
            Number in Stock: {{product.stock}}
          </p>
          <a class="add-prod add-product-to-cart" href="/cart/add/{{product.id}}">
            <button class="add-to-cart">Add to Cart</button>
          </a>
        </div>
      </section>
    </main>

    <!-- <footer>
      <div class="footer-links">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="social-media">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
      </div>
    </footer> -->

    <!-- <script> -->
      <!-- // Hamburger menu functionality
      const hamburgerMenu = document.querySelector(".hamburger-menu");
      const mainNav = document.querySelector(".main-nav");

      hamburgerMenu.addEventListener("click", () => {
        mainNav.classList.toggle("active");
      }); -->
    <!-- </script> -->
  </body>
</html>
