{% extends "index.html" %}
{% block content %}
      <section class="product-details">
        <form action="/products/create" method="POST">
          <div>
            <label for="product">Product:</label>
            <input type="text" id="product" name="product">
        </div>
          <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
        </div>
          <div>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price">
        </div>
          <div>
            <label for="img-url">Image Url:</label>
            <input type="text" id="img-url" name="img-url">
        </div>
          <div>
            <label for="rating">Rating:</label>
            <input type="text" id="rating" name="rating">
        </div>
          <div>
            <label for="stock">Stock:</label>
            <input type="text" id="stock" name="stock">
        </div>
        <div>
            <label for="allergen_id">Allergen:</label>
            <select name="allergen_id" id="allergen_id">
                {% for allergen in allergens %}
                <option value="{{ allergen.id }}">
                    {{ allergen.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit">
        </div>
      </form>
{% endblock %}